.env
.env.docker
.env.production

.idea/
.vscode/

venv/
backend/venv/
**/__pycache__/
*.py[cod]

db.sqlite3
*.sqlite3

backend/media/
backend/staticfiles/
media/
staticfiles/

*.log

.pytest_cache/
.mypy_cache/
.ruff_cache/
